<table>
  <tr><h3>参加予定の趣味活</h3></tr>
  <% @events.each do |event| %>
  <tr>
    <th>サブジャンル</th>
    <th>タイトル</th>
    <th>参加日時</th>
  </tr>
  <tr>
    <td><%= event.title %></td>
    <td></td>
    <td></td>
  </tr>
</table>


<% end %>