/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: sans-serif;
}
body {
  padding-top: 84.8px;
  padding-bottom: 103px;
}

.navbar {
  background-color: #808000;
}


.main-visual {
  width: 100%; /* 横幅350px */
  height: calc(100vh - 84.8px - 103px); /* 親の高さに揃える */
  background-color: #D2B48C; /* 背景色gold */
}


footer {
  width: 100%;
  background-color: #808000;
}

.col-md-10 {
  background-color: antiquewhite;
}

@media screen and (max-width: 1199.98px) {}
@media screen and (max-width: 991.98px) {}
@media screen and (max-width: 767.98px) {
  .main-visual {
    width: 100%; /* 横幅350px */
    height: 100%; /* 親の高さに揃える */
    background-color: gold; /* 背景色gold */
  }
}
@media screen and (max-width: 575.98px) {}
